@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #41A6AC;
}

html,
body {
  @apply bg-gray-50 dark:bg-gray-950;
  font-family: var(--font-sans);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
